#landing-page {
    h1 {
        font: 700 3.5em 'Lexend Deca', sans-serif;
        color: #002914;
    }

    h2 {
        font: 700 3em 'Lexend Deca', sans-serif;
        color: #002914;
    }

    h3 {
        font: 600 1em 'Lexend Deca', sans-serif;
        text-transform: uppercase;
        color: #18639C;
    }

    em {
        font-weight: 600;
        color: #009951;
    }

    p {
        color: #506158;
        line-height: 24px;
    }

    // Estilização de padrões entre seções
    section {
        padding: 40px 5vw;

        .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    button {
        font: 500 1em 'Lexend', sans-serif;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 40px;
    }

    #features,
    #call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .content {
            width: 75%;
            align-items: center;
            text-align: center;
        }
    }

    #hero,
    #unique-selling-proposition,
    #closing-argument {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .content {
            width: 100%;
        }
    }

    // Estilização específicas de seções

    #navigation {
        position: fixed;
        left: 10px;
        top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: #EBFFF5;
        border: 1px solid #00995125;
        border-radius: 80px;

        width: calc(100vw - 30px);
        padding: 20px 25px;

        img {
            height: 40px;
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                a {
                    padding: 10px 20px;
                    color: #002914;

                    &:hover {
                        color: #009951;
                    }
                }
            }
        }

        .primary-button {
            background: linear-gradient(90deg, #009951, #019B83);
            color: #FFF;
        }

        .menu-burger-button {
            color: #009951;
            display: none;
        }
    }

    .menu-burger-component {
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        
        .container {
            padding: 40px 20px;
            background-color: #009951;

            width: 70%;
            height: 100%;
            nav {

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        a {
                            color: #FFF;
                        }
                    }
                }
            }
        }

        .primary-btn {
            background: linear-gradient(90deg, #009951, #019B83);
            border: 1px solid #FFFFFF30;
            color: #FFF;
        }
    }

    #hero {
        .content {
            button {
                background: linear-gradient(90deg, #009951, #019B83);
                color: #FFF;
            }
        }

        .image {
            background: linear-gradient(45deg, #73D100, #1AC962, #019B83, #18639C);
            border-radius: 20px;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 400px;

            img {
                height: 120%;
            }

        }
    }

    #unique-selling-proposition {
        background-color: transparent;

        .image {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    #features {
        background-color: #F5F5F5;

        .list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .icon {
                    background-color: #EBFFF5;
                    border: 2px solid #00995125;
                    border-radius: 21px;
                    height: 72px;
                    width: 72px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h4 {
                    font: 600 1.5em 'Lexend', sans-serif;
                    color: #002914;
                }
            }
        }
    }

    #closing-argument {
        .image {
            height: 400px;
            width: 100%;
            background: linear-gradient(90deg, #009951, #019B83);
            border-radius: 20px;
            display: flex;
            justify-content: left;
            align-items: center;
            overflow: hidden;

            img {
                height: 120%;
            }
        }
    }

    #call-to-action {
        background-color: #009951;

        h2,
        h3,
        p {
            color: #FFF;
        }

        .cta-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .primary-btn {
                background-color: #FFF;
                color: #009951;
            }

            .secondary-btn {
                background: linear-gradient(90deg, #009951, #019B83);
                border: 1px solid #FFFFFF30;
                color: #FFF;
            }
        }

    }

    #footer {
        background-color: #002914;

        .divisor {
            background-color: #FFFFFF30;
            height: 1px;
            width: 100%;
        }

        .institutional,
        .copy-and-social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: 20px 5vw;

            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;

                    a {
                        color: #FFF;
                    }
                }
            }
        }

        .institutional {
            img {
                height: 50px;
            }
        }
    }

    @media only screen and (max-width: 834px) {

        h1,
        h2 {
            font-size: 2em;
        }

        p,
        button {
            font-size: 0.9em;
        }

        section {
            padding: 40px 20px;
        }

        #hero,
        #unique-selling-proposition,
        #closing-argument {
            flex-direction: column;

            .content {
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }

        #hero {
            .image {
                height: 300px;
            }
        }

        #navigation {

            ul,
            button {
                display: none;
            }

            .menu-burger-button {
                color: #009951;
                display: block;
            }
        }

        #unique-selling-proposition {
            flex-direction: column-reverse;
        }

        #features {
            .list {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        #features,
        #call-to-action {
            .content {
                width: 100%;
            }
        }

        #footer {

            .institutional,
            .copy-and-social {
                flex-direction: column;
                gap: 20px;
            }

            .institutional {
                nav {
                    ul {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
}